// Breakpoint
$mobile: 425px;
$breakpoints: (
  mobile: $mobile
);

// Color
$black: #2C322E;
$white: #FAF8F7;

// Font
$font-family: 'iAWriterQuattro', menlo, inconsolata, monospace;
$font-size: 14px;
